---
layout: layouts/base.njk
title: "Retailers | Pita Cigars"
description: "Find Pita Cigars at retailers across South Florida and beyond."
ogImage: "/assets/images/hero.jpg"
nav: retailers
---
<section class="section retailers section--page-top" id="retailers" aria-labelledby="retailers-heading">
      <div class="container">
        <div class="section-header section-header--centered">
          <p class="eyebrow">Where to Buy</p>
          <h2 class="section-heading" id="retailers-heading">Find Pita Cigars Near You</h2>
          <div class="gold-rule gold-rule--center" role="presentation"></div>
          <p class="section-lede">
            Our hand-rolled Nicaraguan cigars are carried at these fine establishments.
            Select a location for directions. New retailers are added regularly.
          </p>
        </div>
        <ul class="retailers__grid" role="list">
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">ALICIA COFFEE SHOP</h3>
            <address class="retailer-card__address">
              1200 NW 22nd St<br />Miami, FL 33142
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=ALICIA+COFFEE+SHOP+1200+NW+22nd+St%2C+Miami%2C+FL+33142" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">COLLINS & 74TH ST INC.</h3>
            <address class="retailer-card__address">
              7446 Collins Ave.<br />Miami Beach, FL 33141
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=COLLINS+%26+74TH+ST+INC.+7446+Collins+Ave.%2C+Miami+Beach%2C+FL+33141" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">EL GIGANTE LIQUOR #3</h3>
            <address class="retailer-card__address">
              3992 W 12th Ave<br />Hialeah, FL 33012
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=EL+GIGANTE+LIQUOR+%233+3992+W+12th+Ave%2C+Hialeah%2C+FL+33012" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">ARMANDO SUPERMARKET & CAFETERIA INC.</h3>
            <address class="retailer-card__address">
              13260 Immokalee rd<br />Naples, FL 34120
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=ARMANDO+SUPERMARKET+%26+CAFETERIA+INC.+13260+Immokalee+rd%2C+Naples%2C+FL+34120" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">BRAVO SUPERMARKET</h3>
            <address class="retailer-card__address">
              524 Dr. Martin Luther King Blvd.<br />Belle Glade, FL 33430
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=BRAVO+SUPERMARKET+524+Dr.+Martin+Luther+King+Blvd.%2C+Belle+Glade%2C+FL+33430" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">BOTANICA LA MILAGROSA</h3>
            <address class="retailer-card__address">
              4522 Bergenline Ave<br />Union City, NJ 07087
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=BOTANICA+LA+MILAGROSA+4522+Bergenline+Ave%2C+Union+City%2C+NJ+07087" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">BOTANCIA SANTA BARBARA CHANGO</h3>
            <address class="retailer-card__address">
              2109 E Main St<br />Bridgeport, CT 06610
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=BOTANCIA+SANTA+BARBARA+CHANGO+2109+E+Main+St%2C+Bridgeport%2C+CT+06610" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">CIGAR CITY VENTURES OF TAMPA BAY</h3>
            <address class="retailer-card__address">
              3404 W Tampa Bay Blvd<br />Tampa, FL 33607
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=CIGAR+CITY+VENTURES+OF+TAMPA+BAY+3404+W+Tampa+Bay+Blvd%2C+Tampa%2C+FL+33607" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">ALIBABA TOBACCO & GIFT SHOP</h3>
            <address class="retailer-card__address">
              403 W 29th St<br />Hialeah, FL 33012
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=ALIBABA+TOBACCO+%26+GIFT+SHOP+403+W+29th+St%2C+Hialeah%2C+FL+33012" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
          <li class="retailer-card" role="listitem">
            <h3 class="retailer-card__name">B & J MINI MARKET</h3>
            <address class="retailer-card__address">
              1410 SW 6th ST<br />Miami, FL 33135
            </address>
            <a class="retailer-card__link" href="https://www.google.com/maps/search/?api=1&query=B+%26+J+MINI+MARKET+1410+SW+6th+ST%2C+Miami%2C+FL+33135" target="_blank" rel="noopener noreferrer">
              Get Directions &rarr;
            </a>
          </li>
        </ul>
        <p class="retailers__cta">
          Interested in carrying Pita Cigars?
          <a href="/contact/" class="link-underline--inline">Become a retailer &rarr;</a>
        </p>
      </div>
    </section>
